body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px;
  font-size: 1rem;
}

main {
  max-width: 750px;
  margin: 52px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #717171;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
  margin-top: 15px;
}

#mesesPagos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 2rem;
}

#mesesPagos label {
  font-size: 1rem;
  margin-right: 10px;
}

#mesesPagos input {
  margin-right: 5px;
}

#dataContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

#data {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #717171;
  flex: 1;
}

#defineData {
  padding: 10px;
  background-color: rgb(33, 53, 73);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.opt {
  font-size: 1rem;
}